* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

th {
  background-color: #aba5a5;
  font-size: 18px;
}

.fa-solid {
  font-size: 16px;
  color: #ccc;
  cursor: pointer;
}

.fa-solid:hover {
  color: #333;
}

.check,
#check-box:hover {
  cursor: pointer;
}

ul {
  text-decoration: none;
}

.header {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
  margin-top: 5px;
}

.search {
  border-radius: 3px;
  width: 180px;
  height: 25px;
  border: 1px solid black;
}

.delete,
.edit,
.save,
.toggle__button,
.pagination button {
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 30px;
}

.delete {
  background-color: red;
  color: white;
}

.edit {
  background-color: blue;
  color: white;
  margin-right: 5px;
}

.save {
  background-color: green;
  color: white;
  margin-right: 5px;
}

.toggle__button {
  background-color: darkolivegreen;
  color: white;
  margin-right: 5px;
}

.footer {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.dark-mode {
  background-color: #352f44;
  text-align: center;
  color: #fff;
}

.dark-mode table {
  border-color: white;
}

.dark-mode th {
  border-color: white;
  color: #fff;
}

.dark-mode td {
  border-color: white;
  color: whitesmoke;
  background-color: #5c5470;
}

.dark-mode th {
  background-color: #333;
}

.dark-mode .fa-solid {
  color: #999;
}

.dark-mode .fa-solid:hover {
  color: #ccc;
}

.dark-mode .check,
.dark-mode #check-box:hover {
  color: #ccc;
}

.dark-mode ul {
  text-decoration: none;
  color: white;
}

/* Light Mode Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.pagination button:hover {
  background-color: #f2f2f2;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3498db;
}

.pagination .active {
  background-color: #3498db;
  color: white;
  border: 1px solid #3498db;
}

/* Dark Mode Pagination */
.dark-mode .pagination button {
  color: #fff;
  background-color: #333;
  border: 1px solid #666;
}

.dark-mode .pagination button:hover {
  background-color: #444;
}

.dark-mode .pagination .active {
  background-color: #3498db;
  color: white;
  border: 1px solid #3498db;
}
