.form {
    display: grid;
    justify-content: center;
    width: 50%;
    margin-top: 90px;
    margin-left: 200px;
    border: solid black 2px;
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .form:hover {
    transform: scale(1.05);
  }
  
  .name {
    margin-top: 20px;
  }
  
  label {
    margin-right: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  button {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  button:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  