

.page {
    display: grid;
    place-items: center;
    border: 2px solid transparent;
    background: linear-gradient(135deg, #3494e6, #ec6ead);
    margin: 80px 240px;
    padding: 20px;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out;
    animation: fadeIn 1s ease-in-out;
  }
  
  .page:hover {
    border-color: #333;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  